body {
  background-color: #406855c7;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.center-text {
  text-align: center;
}

/* NAVBAR */

nav a.active {
  /* background-color: #f6ab9d; */
  /* color: #004223c7; */
  align-items: center;
  text-decoration: underline;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.772);
  border-radius: 5px;
  /* padding-left: 2%; */
  /* width: 90%; */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-left: 8%;
  margin-right: 4%;
}

nav a {
  text-decoration: none;
  color: black;

}

nav a:hover {
  background-color: #e0c7f0
}

#logo {
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
}

#logout-button {
  width: 120px;
  height: 40px;
  background-color: #f0655b;
  border: 1px black solid;
  font-size: .9em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#logout-button:hover {
  color: white;
  border: 2px #000000 solid;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}


/* FORM */

form {
  width: 18em;
  max-width: 90%;
  margin: 0 auto;
}

.label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

input {
  font-size: 1.2rem;
  padding: 0.4rem;
  width: 100%;
  line-height: 1.2;
  margin-top: 0.2rem;
}

.button-submit-form {
  width: 130px;
  height: 40px;
  background-color: #e7d8f1;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0rem 0rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.button-submit-form:hover {
  color: white;
  border: 2px #000000 solid;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

/* COMMENT & POST Profile Pics */

.commentProfilePicture {
  width: 50px;
  border-radius: 50%;
  padding: 2em 2em 2em 2em;
}

.profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 2em 2em 2em 2em;
}

/* USER PROFILE PAGE */

.profile {
  text-align: center;
  justify-content: center;
  width: 600px;
  margin: auto;
  padding-bottom: 50px;

}

#profile-card-div {
  background-color: rgba(255, 255, 255, 0.772);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: .1em;
  margin-top: 1.4em;
}

#profile-picture {
  justify-self: center;
  object-fit: contain;
  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

#profile-form-div {
  border: 2px solid black;
  margin-top: 1.5rem;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: #f0d290;
}

#button-update-form {
  width: 180px;
  height: 40px;
  background-color: #e7d8f1;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  margin: 1.5rem 0rem 0rem 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#button-update-form:hover {
  color: white;
  border: 2px #000000 solid;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#update-profile-toggle {
  width: 200px;
  height: 40px;
  background-color: #e7d8f1;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  margin: 1.5rem 0rem 0rem 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#update-profile-toggle:hover {
  color: white;
  border: 2px #000000 solid;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#delete-account-button {
  width: 170px;
  height: 30px;
  background-color: #f0655b;
  border: 1px black solid;
  font-size: 1em;
  font-weight: bold;
  margin: 0rem 0rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#delete-account-button:hover {
  color: white;
  border: 2px #000000 solid;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

/* HOME PAGE */

#filter-by-follow {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  padding-top: 15px;
}

#filter-checkbox {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

/* CREATE POST */

#post_body {
  width: 100%;
  font-size: 1.4em;
  margin-bottom: 10px;
}

#post-creation-div {
  text-align: center;
  border: 2px solid black;
  padding-bottom: 40px;
  padding-top: 20px;
  justify-content: center;
  width: 500px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #e7d8f1;
}

.create-post-inputs {
  font-size: 1.2em;
  padding: 2px;
  /* margin: 0px; */
}

#create-post-selects {
  height: 30px;
  width: 296px;
  font-size: 1.2em;
}

#post-tag-dropdown {
  text-align: center;
  background-color: #f0d290;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  width: 11%
}

::-webkit-scrollbar {
  display: none;
}

#submit-new-post {
  width: 120px;
  height: 40px;
  background-color: #f0d290;
  border: 1px black solid;
  /* font-size: .9em; */
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#submit-new-post:hover {
  color: white;
  border: 2px #000000 solid;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

/* POST CARDS */

.postCard {
  width: 600px;
  height: 400px;
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  padding-top: 0px;
  background-color: rgba(255, 255, 255, 0.772);
  overflow: scroll;
  max-height: 60rem;
}

.user-post-header-1 {
  display: flex;
  margin-bottom: 0px;
}

#flex-wrap {
  flex-direction: column;
  margin-bottom: 0px;
}

#flex-wrap h5 {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#flex-wrap h2 {
  padding: 0px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.post {
  margin-left: 25px;
  margin-top: 0px;
}

.postPictureDiv {
  display: flex;
  justify-content: center;
  margin-right: 25px;
}

.postPicture {
  max-width: 550px;
}

.footer {
  margin-left: 25px;
}

#show-comments {
  border: 1px solid black;
  width: 140px;
  padding: 6px;
  text-align: center;
  background-color: #f0d290;
  border-radius: 5px;
}

#comment_creation {
  margin-left: 0px;
}

#submit-comment-button {
  text-align: center;
  width: 100px;
  height: 35px;
  background-color: #e7d8f1;
  border: 1px black solid;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1rem 0rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#submit-comment-button:hover {
  color: white;
  border: 2px #000000 solid;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

/* COMMENT CARD */

.commentCard {
  flex-direction: column;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 550px;
}

/* .comment {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
} */

.commentProfilePicture {
  flex-direction: column;
  margin-bottom: 0px;
}

#comment_area {
  width: 546px;
  height: 50px;
  font-size: 1.2em;
}

.searchedProfileContainer {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  border-radius: 10px;
}

.searchedCard {
  display: flex;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  min-width: 40%;
  align-items: center;
  padding-right: 25px;
}

#delete-comment-button {
  width: 140px;
  height: 30px;
  background-color: #f0655b;
  border: 1px black solid;
  font-size: 1em;
  /* font-weight: bold; */
  margin: 0rem 0rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#delete-comment-button:hover {
  color: white;
  border: 2px #000000 solid;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

#follow-button {
  width: 90px;
  height: 30px;
  background-color: #f0d290;
  border: 1px black solid;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#follow-button:hover {
  color: white;
  border: 2px #000000 solid;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
