body {
  background-color: #406855c7;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.center-text {
  text-align: center;
}

/* NAVBAR */

nav a.active {
  /* background-color: #f6ab9d; */
  /* color: #004223c7; */
  align-items: center;
  text-decoration: underline;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  font-weight: bold;
  background-color: #ffffff;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-left: 8%;
  margin-right: 4%;
}

nav a {
  text-decoration: none;
  color: black;
  
}

nav a:hover {
  background-color: #f8c9c1
}

#logo {
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
}

#logout-button {
  width: 120px;
  height: 40px;
  background-color: #f8c9c1;
  border: 1px black solid;
  font-size: .9em;
  font-weight: bold;
  margin: 0rem 0rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#logout-button:hover {
  color: white;
  border: 2px #000000 solid;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}


/* FORM */

form {
  width: 18em;
  max-width: 90%;
  margin: 0 auto;
}

.label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

input {
  font-size: 1.2rem;
  padding: 0.4rem;
  width: 100%;
  line-height: 1.2;
  margin-top: 0.2rem;
}

.button-submit-form {
  width: 130px;
  height: 40px;
  background-color: #f8c9c1;
  border: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0rem 0rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.button-submit-form:hover {
  color: white;
  border: 2px #000000 solid;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.commentProfilePicture {
  width: 50px
}
.profilePicture {
  width: 50px
}